@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900 bg-agri-light dark:bg-gray-900 dark:text-gray-100 transition-colors duration-300;
  }
}

/* Custom Scrollbar for better UI */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-agri-green/50 hover:bg-agri-green rounded-full;
}

/* Base styling for smooth scroll */
html {
  scroll-behavior: smooth;
}